@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#menu-w .mbr-brand__name {
  font-size: 16px;
}
#menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-w .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-w .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#form1-z .mbr-header__text {
  color: #ffffff;
}
#contacts3-x P {
  color: #ffffff;
}

#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#msg-box4-p .mbr-header__text {
  color: #ffffff;
}
#msg-box4-p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-p .mbr-article {
  color: #ffffff;
}
#contacts3-l P {
  color: #ffffff;
}

#menu-q .mbr-brand__name {
  font-size: 16px;
}
#menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-q .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-q .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-r P {
  color: #ffffff;
}


#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#slider-16 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#msg-box3-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #27aae0;
}
#msg-box3-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #ffffff;
}
#msg-box3-5 .mbr-article P {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
#msg-box3-h .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-h .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #ffffff;
}
#msg-box3-h .mbr-article P {
  color: #ffffff;
}
#features1-v .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#contacts3-j P {
  color: #ffffff;
}
